<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Troya.Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Troya.Tools.Properties.Settings>
            <setting name="toolsXNB" serializeAs="String">
                <value>.\xnb.exe</value>
            </setting>
            <setting name="toolsSHA" serializeAs="String">
                <value>.\sha.exe</value>
            </setting>
            <setting name="buildFonts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="buildModels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="buildTextures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="buildShaders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="buildSounds" serializeAs="String">
                <value>True</value>
            </setting>
        </Troya.Tools.Properties.Settings>
    </userSettings>
</configuration>